@keyframes i-web-animation {
	0% { transform: rotate(45deg); opacity: 0; }
	100% { transform: rotate(0deg); opacity: 1; }
}
@keyframes creative-animation {
	0% { transform: translateX(413.5px); }
	100% { transform: translateX(0px); }
}
@keyframes solutions-animation {
	0% { transform: translate(-185px, 65px) rotate(-90deg); opacity: 0;}
	100% { }
}
@keyframes smooth-appearance-animation {
	0% { opacity: 0;}
	100% { opacity: 1; }
}
@keyframes contact-us-button-animation {
	0% { transform: translateX(20px); opacity: 0; }
	100% { }
}
@keyframes show-hide-animation {
	0% { opacity: 1; }
	25% { transform: translateY(-50px); }
	100% { transform: translateY(250px); opacity: 0; }
}