@font-face {
    font-family: RopaSoftPro;
    src: url('../fonts/lettersoup - RopaSoftPro-Regular.otf');
}
@font-face {
    font-family: RopaSoftPro;
    src: url('../fonts/lettersoup - RopaSoftPro-Light.otf');
    font-weight: 300;
}
@font-face {
    font-family: RopaSoftPro;
    src: url('../fonts/lettersoup - RopaSoftPro-ExtraLight.otf');
    font-weight: 200;
}