* {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}
body {
	text-align: center;
	overflow: hidden;
}
body:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.container {
	vertical-align: middle;
	display: inline-block;
	text-align: left;
}

/* HEAD */

.head {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;

}
.head:before,
.contact-us:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.logo-container {
	vertical-align: middle;
	display: inline-block;
	position: relative;
}
.logo-container > .svg_container__content {
	animation-name: smooth-appearance-animation;
	animation-duration: 2s;
}
.contact-us {
	position: absolute;
	top: 0;
	bottom: 25px;
	left: 275px;
	white-space: nowrap;
	transition: opacity 1s linear;
}
.contact-us__point {
	background-color: #e08424;
	border-radius: 50%;
	animation-duration: .5s;
	animation-name: smooth-appearance-animation;
	vertical-align: middle;
	margin-left: 10px;
	display: none;
}
.contact-us__point_size_small {
	width: 6px;
	height: 6px;
	opacity: .6;
	margin-left: 0;
}
.contact-us__point_size_medium {
	width: 8px;
	height: 8px;
	opacity: .8;
}
.contact-us__point_size_big {
	width: 10px;
	height: 10px;
	opacity: 1;
}
.contact-us__button {
	background-color: #e08424;
	padding: 6px 20px;
	border-radius: 6px;
	margin-left: 5px;
	color: #fffefe;
	cursor: pointer;
	font-family: RopaSoftPro;
	font-size: 24px;
	font-weight: 300;
	vertical-align: middle;
	display: none;
	animation-name: contact-us-button-animation;
	animation-duration: 1.5s;
}
/* HEAD END */

.svg-container {
	display: inline-block;
	vertical-align: baseline;
}
.svg_container_content_effect {
	width: 555px;
	height: 105px;
}
.svg_container_content_creative {
	width: 414px;
	height: 86.5px;
}
.svg_container_content_web {
	width: 354px;
	height: 105px;
}
.svg_container_content_technology {
	width: 455px;
	height: 85px;
	position: relative;
	bottom: 10px;
}
.svg_container_content_for {
	width: 190px;
	height: 95px;
	position: relative;
	vertical-align: top;
}
.svg-container__for-point {
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: #B8B8B8;
}
.svg_container_content_tasks {
	height: 0;
	width: 0;
	position: relative;
	vertical-align: top;
	top: 20px;
	right: 25px;
}
.svg_container_content_solutions {
	width: 222px;
	height: 95px;
	vertical-align: top;
	margin-left: 10px;
}
.svg_container_content_business {
	width: 335px;
	height: 125px;
	vertical-align: top;
	position: relative;
	bottom: 6px;
    left: 8px;
}
.svg_container_content_portfolio {
	display: block;
	text-align: center;
	margin-top: 50px;
}
.svg-container__portfolio-wrapper {
	display: inline-block;
	width: 365px;
	height: 115px;
	position: relative;
}
.svg-container_portfolio-text-point,
.svg-container_portfolio-arrow-point,
.svg-container_portfolio-underscore-point {
	width: 1px;
	height: 1px;
	box-shadow: 0px 0px .5px 0.5px #A62F5D;
	background-color: #A62F5D;
	border-radius: 100%;
	position: absolute;
}
.svg-container_portfolio-text-point {
	left: 155px;
	top: 6px;
}
.svg-container_portfolio-arrow-point {
	right: 19px;
	top: 37px;
}
.svg-container_portfolio-underscore-point {
	right: 37px;
	top: 69px;
}

.svg_container_content_effect > .svg_container__content {
	height: 105px;
}
.svg_container_content_creative > .svg_container__content {
	animation-name: creative-animation;
	animation-duration: 1.3s;
	height: 86.5px;
}
.svg_container_content_web > .svg_container__content {
	animation-name: i-web-animation;
	animation-duration: 1s;
	transform-origin: 0 0;
	height: 105px;
}
.svg_container_content_technology > .svg_container__content {
	height: 85px;
	position: relative;
	animation-name: technology-animation;
	animation-duration: 1s;
}
.svg_container_content_for > .svg_container__content {
	height: 95px;
}
.svg_container_content_tasks > .svg_container__content {
	position: relative;
	animation-name: tasks-animation;
	animation-duration: 8s;
}
.svg_container_content_solutions > .svg_container__content {
	height: 95px;
	animation-name: solutions-animation;
	animation-duration: 1s;
	transform-origin: 50% 50%;
}
.svg_container_content_business > .svg_container__content {
	height: 125px;
}
.svg_container_content_portfolio > .svg_container__content {
	height: 115px;
}

.hide-down, .show-up {
	animation-name: show-hide-animation;
	animation-duration: .7s;
}
.hide-down {
	opacity: 0;
}
.show-up {
	opacity: 1;
	animation-direction: reverse;
}

/* SECOND SCREEN */
.form__title {
	color: #303030;
	font-size: 30px;
	margin-bottom: 45px;
	text-transform: uppercase;
	font-family: RopaSoftPro;
	text-align: center;
}
.form__input {
	width: 320px;
	height: 45px;
	line-height: 45px;
	padding: 0px 15px;
	border: 1px solid #95979a;
	margin: 0 auto;
	margin-bottom: 15px;
	display: block;
	outline: none;
}
.form__input:last-child {
	margin-bottom: 0;
}
.form__input::-webkit-input-placeholder {
	color: #808080;
	font-size: 24px;
	font-family: RopaSoftPro;
	font-weight: 200;
	text-transform: uppercase;
}
.form__input::-moz-placeholder {
	color: #808080;
	font-size: 24px;
	font-family: RopaSoftPro;
	font-weight: 200;
	text-transform: uppercase;
}
.form__input:-moz-placeholder {
	color: #808080;
	font-size: 24px;
	font-family: RopaSoftPro;
	font-weight: 200;
	text-transform: uppercase;
}
.form__input:-ms-input-placeholder {
	color: #808080;
	font-size: 24px;
	font-family: RopaSoftPro;
	font-weight: 200;
	text-transform: uppercase;
}
.form-panel {
	margin-top: 150px;
	text-align: center;
	font-size: 0;
}
.form-panel__point,
.form-panel__close {
	width: 13px;
	height: 13px;
	display: inline-block;
	margin: 0px 10px;
}
.form-panel__point {
	border-radius: 50%;
	border: 1px solid #8e9194;;
}
.form-panel__point_state_active {
	background-color: #8e9194;
}
.form-panel__close {
	position: relative;
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.form-panel__close:before, .form-panel__close:after {
  content: "";
  position: absolute;
  z-index: -1;
  background: #cd5a18;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, .1);
}

.form-panel__close:before {
  left: 49%;
  width: 1px;
  height: 100%;
}

.form-panel__close:after {
	top: 49%;
	left: 0;
	height: 1px;
	width: 100%;
}

/* SECOND SCREEN END */

.smooth-hide {
	opacity: 0;
	
}
.smooth-show {
	opacity: 1;
}
.hide {
	display: none;
}